body{
    background: #EBB5B1;
}
.container1 h1{
    font-family: 'Poppins', sans-serif;
}
.div1{
    padding: 30px;
    background: #e7a6a0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border-radius: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}
input{
    border-radius: 30px;
    padding: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.container button{
    border-radius: 30px;
    padding: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin-left: -45px;
    background-color: #bb7168;
    color: #fff;
}
button:hover{
    background-color: #b6635b;
}
.container2 button{
    border-radius: 30px;
    padding: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #bb7168;
    color: #fff;
}

.feedback-container{
    color: #fff;
}